<html>
  <head>
    <link href="/assets/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <ul>
      <% if(ID%2==0){ %>
        <% for (let i = 0; i < ID; i++) { %>
          <li>ES PAR</li>
        <% } %>
      <% }else{ %>
          <li>ES IMPAR</li>
          <%}%>
    </ul>

<h1>NUMBER: <%=ID%></h1>
  </body>
</html>
